.DashboardFilters {
    & .ant-form-item {
        margin-right: 8px;
        display: inline-block !important;
    }

    &__item {
        display: inline-block !important;

        &Actions {
            float: right;
        }
    }
}
